body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 1.2em;
}
.navbar {
  background-color: #D7DCF2;
  margin-bottom: 20px;
}

.habit-details, .add-habit {
  border: 1px solid #868A8B;
  border-radius: 4px;
  padding: 20px;
}

.habits-list ul {
  padding-left: 0px;
}

.habits-list li {
  border: 2px solid #A8ADC1;
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  font-size: 1.2em;
}

.habit-details {
  background-color: #D7DCF2;
}

#root > div > div > div:nth-child(2) > div > svg {
  height: 3em;
  width: 3em;
}
