body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 1.2em;
}
.navbar {
  background-color: #80edb3;
  margin-bottom: 20px;
}

.habit-details, .add-habit {
  border: 1px solid #99a59e;
  border-radius: 4px;
  padding: 20px;
}

.habits-list ul {
  padding-left: 0px;
}

.habits-list li {
  border: 2px solid #99a59e;
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  font-size: 1.2em;
}

.habit-details {
  background-color: #b3b3b3;
}

#root > div > div > div:nth-child(2) > div > svg {
  height: 3em;
  width: 3em;
}

.stars-list ul {
  padding-left: 0px;
}

.stars-list li {
  display: inline;
  border: none;
}

svg {
  height: 1.5em;
  width: 1.5em;
}
