/*
dark blue: rgb(39, 112, 206)
light blue: rgb(48, 208, 207)
orange: rgb(255, 162, 7)
green: rgb(40, 198, 150)
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(39, 112, 206);
}

p {
  font-size: 1.2em;
}

.navbar {
  background-color: rgb(48, 208, 207);
  margin-bottom: 20px;
}

.add-habit {
  border: 2px solid rgb(39, 112, 206);
  background-color: rgb(255, 162, 7, 0.6);
  border-radius: 4px;
  padding: 20px;
}

.habits-list ul {
  padding-left: 0px;
}

.habits-list-item {
  border: 3px solid rgb(255, 162, 7);
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  font-size: 1.2em;
}

.habits-list-item p {
  font-size: 1em;
  color: rgb(48, 208, 207);
}

.habit-details {
  background-color: rgb(255, 162, 7, 0.6);
  color: rgb(39, 112, 206);
  border: 2px solid rgb(39, 112, 206);
  border-radius: 4px;
  padding: 20px;
}

.stars-list ul {
  padding-left: 0px;
}

.stars-list li {
  display: inline;
  border: none;
}

svg {
  height: 2em;
  width: 2em;
  margin-left: 5px;
  padding-left: 5px;
}
